.button {
    background: url(../images/menu_button.png) 50% 50% / cover;
    width: 22px; height: 17px;
    margin: 10px 0;
}
/* 햄버거 버튼 클릭시 */
.chancel {
    background: url(../images/chancel.png) 50% 50% / cover;
    width: 22px; height: 17px;        margin: 10px 0;
}
.hide {
    display: none;
    height: calc(100vh - 71px);
    background-color: #fff;
    width: 100%;
    position: absolute;
}
/* 메뉴창 열림 */
.show {
    display: block;
    width: 100%;
    height: calc(100vh - 71px);
    background-color: #fff;
    position: absolute;
    top: 70px; left: 0; right: 0;
}
.show li {
    padding: 0 32px;
}
.show li a {
    font-size: 20px;
    line-height: 20px;
    font-family: "Calibre";
    font-weight: 600;
    display: block;
    color: #222;
    padding: 20px 0;
    border-bottom: 1px solid #dedede;
    position: unset;
}
.hide li {
    padding: 0 32px;
}
.hide li a {
    font-size: 20px;
    line-height: 20px;
    font-family: "Calibre";
    font-weight: 600;
    display: block;
    color: #222;
    padding: 20px 0;
    border-bottom: 1px solid #dedede;
    position: unset;
}
.show .color {
    color: #1ace5e;
}
font {
    font-style: none;
}